# intelliJ IDEA
mabo.iml
.idea/

# node
node_modules/
*.log

# compiled
/dist
/server
/test/dist

# log
/logs

# client side bundled
*.bundle.js
*.bundle.js.map

# enviroment
.env
# .env.sample - template. let it not be ignored.

schema/**/*.js