extends ../layout

block scriptsInHead
  //- bootstrap
  link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
  //- font-awesome
  link(rel='stylesheet', href='/stylesheets/fontawesome/css/font-awesome.min.css')
  //- handsontable
  link(rel='stylesheet', href='/stylesheets/handsontable/handsontable.full.css')
  //- common
  link(rel='stylesheet', href='/stylesheets/common.css')

  //- jQuery
  link(rel="stylesheet", href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js",type="text/javascript")
  script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js",type="text/javascript")
  //- tether
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js",integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb",crossorigin="anonymous")
  //- bootstrap
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js",integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn",crossorigin="anonymous")
  //- handsontable
  script(src="/js/handsontable/handsontable.full.min.js",type="text/javascript")

  script(src="/js/socket.io/socket.io.js")
  script(src="/js/chat.js",type="text/javascript")
block content
  div.mat(style="position:absolute;background:lightgray;height:500px;width:500px;") 500x500
    div.tit(style="position:absolute;left:50px;width:50px;height:50px;background:red;color:white;") parent
      div.tit(style="position:absolute;top:50px;width:50px;height:50px;background:blue;color:white;") child
  div.fluid-container
  div#tools-base(style="width:100% !important;")
    div#tools(style="width:calc(100% - 20px);")
      //div
      //  button.btn.btn-sm.py-0.px-1.btn-warning.btn-outline-warning 1D100
      //    i.fa.fa-fw.fa-calculator
      //  button.btn.btn-sm.py-0.px-1.btn-warning.btn-outline-warning SANC
      //    i.fa.fa-fw.fa-calculator
      //  button.btn.btn-sm.py-0.px-1.btn-warning.btn-outline-warning 目星
      //    i.fa.fa-fw.fa-calculator
      //  button.btn.btn-sm.py-0.px-1.btn-warning.btn-outline-warning 聞き耳
      //    i.fa.fa-fw.fa-calculator
      //  button.btn.btn-sm.py-0.px-1.btn-warning.btn-outline-warning 図書館
      //    i.fa.fa-fw.fa-calculator
      //  button.btn.btn-sm.py-0.px-1.btn-warning.btn-outline-warning 幸運
      //    i.fa.fa-fw.fa-calculator
      //  button.btn.btn-sm.py-0.px-1.btn-warning.btn-outline-warning アイデア
      //    i.fa.fa-fw.fa-calculator
      //  button.btn.btn-sm.py-0.px-1.btn-warning.btn-outline-warning 知識
      //    i.fa.fa-fw.fa-calculator
      //  button.btn.btn-sm.py-0.px-1.btn-info.btn-outline-info 取得したメモ
      //    i.fa.fa-fw.fa-file
      div(style="width:100%;")
        span.badge.badge-default DEX
        span.badge.badge-default HP
        span.badge.badge-default MP
        span.badge.badge-default SAN
        div#resource-grid(style="width:100%;")

  div#chat-base
    div#chat
      div
        span.badge.badge-success InGame
        span.badge.badge-success Meta
        span.badge.badge-success System
        span.badge.badge-default You
        span.badge.badge-default
          i.fa.fa-plus-circle
      div
        div.card
          div#messages-scroll.card-block.p-0(style="height:auto;max-height:200px;overflow-y:scroll;")
            ul#messages.list-group.small(style="line-height:1.2;")
      div
        span.badge.badge-warning InGame
        span.badge.badge-default Meta
        span.badge.badge-default System
        span.badge.badge-default
          i.fa.fa-plus-circle
      div
        div.form-group.mb-0
          input#u.form-control.form-control-sm(style="width:calc(25%);display:inline-block;font-size:0.8em;",value="Anonymous")
          input#m.form-control.form-control-sm(style="width:calc(75%);display:inline-block;font-size:0.8em;")
          span#t.text-muted.small

block scriptsAfterBody
