extends ../layout

block scriptsInHead
  //- bootstrap
  link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
  //- font-awesome
  link(rel='stylesheet', href='/stylesheets/fontawesome/css/font-awesome.min.css')
  //- handsontable
  link(rel='stylesheet', href='/stylesheets/handsontable/handsontable.full.css')
  //- common
  link(rel='stylesheet', href='/stylesheets/common.css')

  //- jQuery
  link(rel="stylesheet", href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js",type="text/javascript")
  script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js",type="text/javascript")
  //- tether
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js",integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb",crossorigin="anonymous")
  //- bootstrap
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js",integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn",crossorigin="anonymous")
  //- handsontable
  script(src="/js/handsontable/handsontable.full.min.js",type="text/javascript")

  script(src="/js/socket.io/socket.io.js")
  script(src="/js/common.js",type="text/javascript")
  script(src="/js/chat.js",type="text/javascript")
block content
  //- Boardのコンテキストメニュー
  div#contextMenu(style="position:fixed;z-index:1500;top:-1000px;left:-1000px;background-color:white;")
    table.m-0.table.table-sm.table-hover(role="contextMenu")
      tbody
        tr
          td 画像を割り当てる
  //- 画面上部のメニュー
  div#nav(style="position:fixed;top:0px;left:0px;width:100%;z-index:999;background-color:white;height:30px;margin:0px;padding-top:3px;border-bottom:1px dashed lightgray;")
    span.ml-5(onclick="$('#consoleBase').dialog('open');")
      i.fa.fa-border.fa-terminal
    span.ml-3(onclick="$('#chatLog').dialog('open');")
      i.fa.fa-border.fa-sort-amount-desc
    span.ml-3(onclick="$('#imageUploader').dialog('open');")
      i.fa.fa-border.fa-cloud-upload
    span.ml-3(onclick="$('#imageManager').dialog('open');")
      i.fa.fa-border.fa-picture-o
    span.ml-3(onclick="$('#characters').dialog('open');")
      i.fa.fa-border.fa-th
    span#addBoard.ml-3
      i.fa.fa-plus-square
  //- 盤面
  div#playGround(style="position:absolute;top:0px;left:0px;width:100%;height:100%;background-color:darkgray;")
  //- キャラクタ
  div#characters
    div#resource-grid
  //- 履歴
  div#chatLog
    div#channel(style="position:absolute;top:0px;right:0px;width:100%;background-color:white;opacity:0.9;")
      span.badge.badge-success メイン
      span.badge.badge-default 雑談
    div#messages-scroll.card-block.p-0(style="width:100%;overflow-y:scroll;")
      ul#messages.list-group.small(style="line-height:1.2;")
  // コンソール
  div#consoleBase
    div#console
      div
        span.badge.badge-warning InGame
        span.badge.badge-default Meta
        span.badge.badge-default System
        span.badge.badge-default
          i.fa.fa-plus-circle
      div.form-group.mb-0
        input#u.form-control.form-control-sm(style="width:calc(25%);display:inline-block;font-size:0.8em;",value="Anonymous")
        input#m.form-control.form-control-sm(style="width:calc(75%);display:inline-block;font-size:0.8em;")
      div
        table#t.table.table-sm.table-bordered
          tbody
  div#imageUploader
    button.btn.btn-sm.btn-secondary(name="imagePicker") 画像を選択
    input.d-none(name="image",type="file",accept="image/*" multiple)
    button.btn.btn-sm.btn-primary(name="imageUpload") アップロード
    div#imageTags 共通タグ:
    ul#pickedImage.list-unstyled.mt-2
  div#imageManager
    span.input-group.input-group-sm
      span.input-group-addon @
      input.form-control(type="text",placeholder="検索するタグ")

block scriptsAfterBody
