extends ../layout

block scriptsInHead
  //- bootstrap
  link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
  //- font-awesome
  link(rel='stylesheet', href='/stylesheets/fontawesome/css/font-awesome.min.css')
  //- common
  link(rel='stylesheet', href='/stylesheets/common.css')

  //- jQuery
  script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js",integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n",crossorigin="anonymous")
  //- tether
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js",integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb",crossorigin="anonymous")
  //- bootstrap
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js",integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn",crossorigin="anonymous")

  script(src="/js/socket.io/socket.io.js")
  script(src="/js/chat.js",type="text/javascript")
  script(src="/js/window.js",type="text/javascript")
block content
  h1= title
  p Welcome to #{title}
  div(style="background:lightgray;height:1200px;width:2000px;") 2000x1200
  div.fluid-container
    div#tools.card-deck(style="width:calc(100% - 20px);position:fixed;top:20px;")
      div#tool-left.card.col-md-3(style="overflow-y:scroll;height:400px;")
        div.card-block
          h4.card-title left
          p rolls
          div(style="background:lightgray;height:1200px;") *x1200
      div.card.col-md-6.invisible
        div.card-block dummy
      div#tool-right.card.col-md-3(style="overflow-y:scroll;height:400px;")
        div.card-block
          h4.card-title right
          p items
          div(style="background:lightgray;height:1200px;") *x1200
    div#chat.card(style="width:calc(100% - 20px);position:fixed;bottom:20px;left:10px;right:10px;")
      div.card-header
        ul.nav.nav-tabs.card-header-tabs
          li.nav-item
            a.py-1.nav-link.active inGame
          li.nav-item
            a.py-1.nav-link meta
          li.nav-item
            a.py-1.nav-link
              i.fa.fa-plus-circle
              span add
      div.card-block.pb-0
        div.card
          div#messages-scroll.card-block.p-0(style="height:auto;max-height:200px;overflow-y:scroll;")
            ul#messages.list-group
      div.card-block
        div.form-group.mb-0
          input#u.form-control.form-control-sm(style="width:calc(25%);display:inline-block;",autocomplete="off",value="")
          input#m.form-control.form-control-sm(style="width:calc(75%);display:inline-block;",autocomplete="off")
          span#t.text-muted

block scriptsAfterBody
