.d-none {
  display: none !important;
}

/*
 * handsontable
 */
table {
  font-size: 12px;

  input.htCheckboxRendererInput {
    position: static !important;
    opacity: 1 !important;
    pointer-events: auto !important;
  }
}

/*
 * playGround
 */
.playground-front {
  border: solid 1px red;
}

.picked {
  border: solid 2px greenyellow;
}

/*
 * split-pane
 */

html, body {
  height: 100%;
  min-height: 100%;
  /*margin: 0;*/
  /*padding: 0;*/
}

.split-pane-divider {
  background: #dddddd;
  opacity: 0.3;

  &.invisible {
    opacity: 0;
  }

  &:hover {
    background: #666666;
    opacity: 0.5;

  }
  &.dragged {
    background: teal;
    opacity: 0.5;

  }
}

/*
 * 画面分割の幅設定
 */
$west-width: 40em;
$north-west-height: 40em;
$north-east-height: 40em;
$main-channel-width: 20em;
$divider-width: 5px;
$divider-height: 5px;

// 画面の左右分割
#west {
  width: $west-width;
}

#east {
  left: $west-width;
  margin-left: $divider-width;
}

#east-to-west {
  left: $west-width;
  width: $divider-width;
}

// 左半分をさらに上下分割
#northwest {
  height: $north-west-height;
}

#southwest {
  top: $north-west-height;
  margin-top: $divider-height;
}

#northwest-to-southwest {
  top: $north-west-height;
  height: $divider-height;
}

// 右半分をさらに上下分割
#northeast {
  height: $north-east-height;
}

#southeast {
  top: $north-east-height;
  margin-top: $divider-height;
}

#northeast-to-southeast {
  top: $north-east-height;
  height: $divider-height;
}

// チャットログ左右分割
#mainChannel {
  width: $main-channel-width;
}

#subChannel {
  left: $main-channel-width;
  margin-left: $divider-width;
}

#main-to-sub {
  left: $main-channel-width;
  width: $divider-width;
}