.d-none {
  display: none !important;
}

/*
 * handsontable
 */
table {
  font-size: 12px;

  input.htCheckboxRendererInput {
    position: static !important;
    opacity: 1 !important;
    pointer-events: auto !important;
  }
}

/*
 * Map Objects
 */

.board-front {
  border: solid 1px red;
  opacity: 1 !important;
}

//.picked {
//  border: solid 2px greenyellow;
//}

