doctype html
html
  head
    //- materialize.css
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    //- font-awesome
    link(rel='stylesheet', href='../../stylesheets/fontawesome/css/font-awesome.min.css')
    //- common
    link(rel='stylesheet', href='../../stylesheets/common.css')

    block scriptsInHead

  body
    //- content
    block content

    //- javascript
    script.
        window.jQuery = window.$ = require('jquery');
    //- hammerjs
    script.
        window.Hammer = require('hammerjs');
    //- split-pane
    script(src="../../js/split-pane/split-pane.js", type="text/javascript")
    //- materialize
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")

  block scriptsAfterBody