.d-none {
  display: none !important; }

/*
 * handsontable
 */
table {
  font-size: 12px; }
  table input.htCheckboxRendererInput {
    position: static !important;
    opacity: 1 !important;
    pointer-events: auto !important; }

/*
 * Map Objects
 */
.board {
  border: solid 1px black;
  opacity: 0.35; }
  .board.board-front {
    border: solid 1px red;
    opacity: 1 !important; }

.pawn.pawn-select {
  border: solid 1px lightpink !important; }
  .pawn.pawn-select.pawn-clicked {
    border: solid 1px red !important; }

/*
 * Toast
 */
.toast {
  padding: 0.7em;
  font-size: 0.7em;
  min-height: initial; }
  .toast.error {
    background-color: darkred; }
  .toast.warn {
    background-color: orangered; }
  .toast.success {
    background-color: mediumspringgreen; }
  .toast.info {
    background-color: deepskyblue; }
  .toast.dim {
    background-color: darkgray; }
