extends ../layout

block content
div.container-fluid
    div
        div.card-columns
            div.card
                div.card-block
                    h3.card-title GHOST MACHINE
                    h6.card-subtitle No.001