extends ../../layout

block content
  div.container-fluid
    div
      div.card-columns

        div.card.card-primary.card-outline-primary
          div.card-block
            button.btn.btn-sm.btn-primary.btn-outline-primary(type='button',data-toggle='modal',data-target='#myModal') Create Scenario
        div.card
          div.card-block
            h3.card-title GHOST MACHINE
            h6.card-subtitle No.001
              i.fa.fa-key
              i.fa.fa-eye
            ul.list-group.list-group-flush
              li.list-group-item
                p.card-text.small.text-muted.
                  解禁: 2017/01/09(月) 以降<br/>
                  形式: テキセ、ボイセ<br/>
                  人数: 1~8名<br/>
                  KP: tsrm<br/>
                  舞台: 拝栄州市 市街<br/>
                  必須技能: なし<br/>
                  ステータス下限制限: なし<br/>
                  殺意: 普通<br/>
                  メイン: 探索、交渉、心霊現象<br/>
              li.list-group-item
                span.badge.badge-warning KP
                span.badge.badge-default PL1
                span.badge.badge-default PL2
                span.badge.badge-default PL3
                span.badge.badge-default PL4
              li.list-group-item
                footer
                  button.btn.btn-sm.btn-primary.btn-outline-primary(type='button', onclick='') JOIN
                  small Last used 3 days ago.
        div.card
          div.card-block
            h3.card-title GHOST MACHINE
            h6.card-subtitle No.002
              i.fa.fa-key
              i.fa.fa-eye
            ul.list-group.list-group-flush
              li.list-group-item
                p.card-text.small.text-muted.
                  解禁: 2017/01/09(月) 以降<br/>
                  形式: テキセ、ボイセ<br/>
                  人数: 1~8名<br/>
                  KP: tsrm<br/>
                  舞台: 拝栄州市 市街<br/>
                  必須技能: なし<br/>
                  ステータス下限制限: なし<br/>
                  殺意: 普通<br/>
                  メイン: 探索、交渉、心霊現象<br/>
              li.list-group-item
                span.badge.badge-warning KP
                span.badge.badge-default PL1
                span.badge.badge-default PL2
                span.badge.badge-default PL3
                span.badge.badge-default PL4
              li.list-group-item
                footer
                  button.btn.btn-sm.btn-primary.btn-outline-primary(type='button', onclick='') JOIN
                  small Last used 3 days ago.

        div.card
          div.card-block
            h3.card-title GHOST MACHINE
            h6.card-subtitle No.002
              i.fa.fa-key
              i.fa.fa-eye
            ul.list-group.list-group-flush
              li.list-group-item
                p.card-text.small.text-muted.
                  解禁: 2017/01/09(月) 以降<br/>
                  形式: テキセ、ボイセ<br/>
                  人数: 1~8名<br/>
                  KP: tsrm<br/>
                  舞台: 拝栄州市 市街<br/>
                  必須技能: なし<br/>
                  ステータス下限制限: なし<br/>
                  殺意: 普通<br/>
                  メイン: 探索、交渉、心霊現象<br/>
              li.list-group-item
                span.badge.badge-warning KP
                span.badge.badge-default PL1
                span.badge.badge-default PL2
                span.badge.badge-default PL3
                span.badge.badge-default PL4
              li.list-group-item
                footer
                  button.btn.btn-sm.btn-primary.btn-outline-primary(type='button', onclick='') JOIN
                  small Last used 3 days ago.

        div.card
          div.card-block
            h3.card-title GHOST MACHINE
            h6.card-subtitle No.002
              i.fa.fa-key
              i.fa.fa-eye
            ul.list-group.list-group-flush
              li.list-group-item
                p.card-text.small.text-muted.
                  解禁: 2017/01/09(月) 以降<br/>
                  形式: テキセ、ボイセ<br/>
                  人数: 1~8名<br/>
                  KP: tsrm<br/>
                  舞台: 拝栄州市 市街<br/>
                  必須技能: なし<br/>
                  ステータス下限制限: なし<br/>
                  殺意: 普通<br/>
                  メイン: 探索、交渉、心霊現象<br/>
              li.list-group-item
                span.badge.badge-warning KP
                span.badge.badge-default PL1
                span.badge.badge-default PL2
                span.badge.badge-default PL3
                span.badge.badge-default PL4
              li.list-group-item
                footer
                  button.btn.btn-sm.btn-primary.btn-outline-primary(type='button', onclick='') JOIN
                  small Last used 3 days ago.

        div.card
          div.card-block
            h3.card-title GHOST MACHINE
            h6.card-subtitle No.002
              i.fa.fa-key
              i.fa.fa-eye
            ul.list-group.list-group-flush
              li.list-group-item
                p.card-text.small.text-muted.
                  解禁: 2017/01/09(月) 以降<br/>
                  形式: テキセ、ボイセ<br/>
                  人数: 1~8名<br/>
                  KP: tsrm<br/>
                  舞台: 拝栄州市 市街<br/>
                  必須技能: なし<br/>
                  ステータス下限制限: なし<br/>
                  殺意: 普通<br/>
                  メイン: 探索、交渉、心霊現象<br/>
              li.list-group-item
                span.badge.badge-warning KP
                span.badge.badge-default PL1
                span.badge.badge-default PL2
                span.badge.badge-default PL3
                span.badge.badge-default PL4
              li.list-group-item
                footer
                  button.btn.btn-sm.btn-primary.btn-outline-primary(type='button', onclick='') JOIN
                  small Last used 3 days ago.


        div.card
          div.card-block
            h3.card-title GHOST MACHINE
            h6.card-subtitle No.002
              i.fa.fa-key
              i.fa.fa-eye
            ul.list-group.list-group-flush
              li.list-group-item
                p.card-text.small.text-muted.
                  解禁: 2017/01/09(月) 以降<br/>
                  形式: テキセ、ボイセ<br/>
                  人数: 1~8名<br/>
                  KP: tsrm<br/>
                  舞台: 拝栄州市 市街<br/>
                  必須技能: なし<br/>
                  ステータス下限制限: なし<br/>
                  殺意: 普通<br/>
                  メイン: 探索、交渉、心霊現象<br/>
              li.list-group-item
                span.badge.badge-warning KP
                span.badge.badge-default PL1
                span.badge.badge-default PL2
                span.badge.badge-default PL3
                span.badge.badge-default PL4
              li.list-group-item
                footer
                  button.btn.btn-sm.btn-primary.btn-outline-primary(type='button', onclick='') JOIN
                  small Last used 3 days ago.
block modal
  div#myModal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="exampleModalLabel",aria-hidden="true")
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          h5#exampleModalLabel.modal-title Title
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times;
        div.modal-body body
        div.modal-footer
          button.btn.btn-secondary(type="button",data-dismiss="modal") close
          button.btn.btn-secondary(type="button") save